html,
body,
#root {
  background: #EDEDED;

}

.container {
  margin-top: 3rem;
}

.card {
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid yellow;
  border-radius: 5px;
  background-color: #435B66 !important;
}

.card img {
  opacity: 0;
  transition: all -350ms ease-in-out;
  transform: rotateY(-180deg);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card.active .undesired {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}



.active.card .undesired {
  filter: blur(5px);
}

.card.active img {
  opacity: 1;
  visibility: visible;
  transition: all 350ms ease-in-out;
  transform: rotateY(0);
}

.card.active::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
  position: absolute;
}